{% macro render_linechart_module(span, attribute, title, unit = '', max = 100, pan='CELULA_1', shift='1', date='1111-11-11') %}
<div class="module linechart col-span-{{ span }}" id="linechart-{{ pan }}-{{ attribute }}">
    <div class="chart-title line-chart-title" id="chart-title-{{ pan }}-{{ attribute }}">{{ title }}</div>
    
    <div class="line-chart-legend" id="legend-{{ pan }}-{{ attribute }}"></div>
    
    <div class="chart-body line-chart-body" id="chart-body-{{ pan }}-{{ attribute }}">
        {# The line chart is now fully rendered by module-linechart.js #}
    </div>
</div>
{% endmacro %}