<!DOCTYPE html>
<html lang="{{ lang|default('en') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations.title_view_report }}</title>    
    <link rel="icon" href="{{ url_for('static', filename='img/ilc_logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toolbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clock.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/machine.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-content.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table-whiteboard.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.css') }}">
</head>
<body>

    {% set nav_items = [
        { 'id': 'current', 'icon': 'svg/icon-current.svg', 'alt_text': translations.alt_current_report, 'label': translations.nav_current_report },
        { 'id': 'results', 'icon': 'svg/icon-result.svg', 'alt_text': translations.alt_results, 'label': translations.nav_results },
        { 'id': 'machines', 'icon': 'svg/icon-machine.svg', 'alt_text': translations.alt_operating_machines, 'label': translations.operating_machines, 'class': 'operating-machines-section' },
        { 'id': 'history', 'icon': 'svg/icon-history.svg', 'alt_text': translations.alt_history, 'label': translations.nav_history }
    ] %}

    {% set show_mode_toggle = True %}

    {% include 'modules/menus.html' %}
    
    {% if session.get('role') == 'admin' %}
        {% include 'modules/chatbot.html' %}
    {% endif %}


    {% import 'modules/machine.html' as machines_module %}

    <div class="main snap-container">
        <div class="content">
            <div class="indicators snap-section" id="current"></div>
            <div id="current-report-wrapper">
                <div class="section-header"> 
                    <h2>{{ translations.nav_current_report }}</h2>
                    <div class="last-updated-timestamp" id="current-report-timestamp">
                        {{ translations.last_update }} --/--/-- --:--
                    </div>
                    <div class="last-updated-timestamp" id="current-report-creator">
                        {{ translations.reported_by }}: --
                    </div>
                </div>
                <div id="current-report-section" class="report-viewer-section">
                    <div id="current-report-container" class="report-container">
                        <!-- El reporte activo se cargará aquí -->
                    </div>
                    <div class="section-footer"></div>
                </div>
            </div>

            <div class="indicators snap-section" id="results"></div>
            <div class="section-header">
                <h2>{{ translations.nav_results }}</h2>
            </div>
            <div id="results-section" class="report-viewer-section">
                <div id="results-container" class="results-container">
                    <div class="result-card">
                        <span class="result-label">{{ translations.results_total_target }}</span>
                        <span class="result-value target-color" id="total-target">0</span>
                    </div>
                    <div class="result-card">
                        <span class="result-label">{{ translations.results_total_production }}</span>
                        <span class="result-value production-color" id="total-production">0</span>
                    </div>
                    <div class="result-card">
                        <span class="result-label">{{ translations.results_total_difference }}</span>
                        <span class="result-value difference-color" id="total-difference">0</span>
                    </div>
                    <div class="result-card">
                        <span class="result-label">{{ translations.results_total_defects }}</span>
                        <span class="result-value defects-color" id="total-defects">0</span>
                    </div>
                    <div class="result-card">
                        <span class="result-label">{{ translations.results_total_efficiency }}</span>
                        <span class="result-value production-color" id="total-efficiency">0%</span>
                    </div>
                </div>
            </div>
            <div class="section-footer"></div>

            <!-- Section of Start Shift .daily-start-section -->
            <div class="indicators snap-section daily-start-section hidden" id="daily-start-info"></div>
            <div class="section-header daily-start-section">
                <h2>{{ translations.report_start_title }}</h2>
            </div>
            <div class="header-report daily-start-section">
                <table class="start-report-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>!Comentarios</th>
                        </tr>
                    </thead>
                    <tbody style="display: table-row-group;">
                        <tr>
                            <td data-label=""> 
                                <div class="inputs-row">
                                    <input type="number" id="first_piece_at_hour" min="1" max="12" disabled>
                                    :
                                    <input type="number" id="first_piece_at_minute" min="0" max="59" disabled>
                                    <select id="first_piece_at_meridiem" disabled>
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                    </select>
                                </div>
                                <label for="first_piece_at_hour">!Hora que salio la primer pieza</label>
                            </td>
                            <td data-label="!Comentarios" style="display: block;"><input type="text" id="first_piece_comment" disabled></td>
                        </tr>
                        <tr>
                            <td data-label="">
                                <select name="is_line_wet" id="is_line_wet" class="negative" disabled>
                                    <option value="0">No</option>
                                    <option value="1">Si</option>
                                </select>
                                <label for="is_line_wet">!¿La linea estaba mojada?</label> 
                            </td>
                            <td data-label="!Comentarios" style="display: block;"><input type="text" id="line_wet_comment" class="negative" disabled></td>
                        </tr>
                        <tr>
                            <td data-label="">
                                <div class="inputs-row">
                                    <input type="number" name="no_op_start" id="no_op_start" disabled>
                                    VS
                                    <input type="number"id="no_op_balancing" min="0" disabled>
                                </div>
                                <label for="no_op_start">!Operadores en linea vs en balanceo</label>
                            </td>
                            <td data-label="!Comentarios" style="display: block;"><input type="text" id="no_op_balancing_comment" disabled></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="section-footer daily-start-section"></div>

            <div class="indicators snap-section operating-machines-section" id="machines" ></div>
            <div class="section-header operating-machines-section">
                <h2 id="machines-section-title">{{ translations.viewer_machines_operating_now }}</h2>
            </div>
            <div class="machine-container operating-machines-section">
                {% for machine in machines %}
                    {{ machines_module.render_machine_module(machine) }}
                {% endfor %}
            </div>
            <div class="machine-actions-container operating-machines-section hidden" id="machine-actions-container">
            </div>
            <div class="section-footer operating-machines-section"></div>

            <div class="indicators snap-section" id="history"></div>
            <div class="section-header">
                <h2>{{ translations.nav_history }}</h2>
            </div>
            <div id="history-report-section" class="report-viewer-section">
                <div id="history-reports-container" class="report-container">
                    <!-- Los reportes cerrados se cargarán aquí -->
                </div>
            </div>
            <div class="section-footer"></div>

            <template id="viewer-row-template">
                <tr class="snap-section">
                    <td data-label="{{ translations.hour | upper }}"><div class="static-info hora"></div></td>
                    <td data-label="{{ translations.target | upper }}"><div class="static-info meta"></div></td>
                    <td data-label="{{ translations.prod | upper }}"><div class="static-info prod"></div></td>
                    <td data-label="{{ translations.accum | upper }}"><div class="static-info acum"></div></td>
                    <td data-label="{{ translations.diff | upper }}"><div class="static-info dif"></div></td>
                    <td data-label="{{ translations.defect | upper }}"><div class="static-info defect"></div></td>
                    <td data-label="{{ translations.notes_incidents | upper }}"><div class="static-info notas-incidentes"></div></td>
                </tr>
            </template>

            <div id="toast" class="toast"></div>
        </div>
    </div>
    
    <script type="module" src="{{ url_for('static', filename='js/tool-functionality.js') }}" data-loader="viewer"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
    <script src="{{ url_for('static', filename='js/machines.js') }}" data-interactive="false"></script>
    <script src="{{ url_for('static', filename='js/daily-report-func.js' ) }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/session-timeout.js') }}"></script>
    <script>
        window.machines = {{ machines | tojson }};
        window.translations = {{ translations | tojson }};

        const sessionTimeout = {{ session_timeout|default (0) }};
        const logoutUrl = "{{ url_for('auth.logout_user') }}";
        initSessionTimeout(sessionTimeout, logoutUrl);
    </script>
</body>
</html>
